<html>
    <head>
        <meta http-equiv="refresh" content="10; URL=/" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <style>
            html, body {margin: 0; height: 100%; overflow: visible}
            body {
                background-color: rgb(49, 49, 49);
                color: white;
            }
            a {
                color: white;
            }
        </style>
    </head>
    <body>
        <h1>{{title}}</h1>

        {{lyrics|safe}}

    </body>
</html>